* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  align-items: center;
  background-color: #f2f8fd;
}

.signup-main-container {
  width: 70%;
  height: 85%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background-color: transparent;
}

.signupcontainer {
  width: 75%;
  height: 80%;
  background-color: transparent;
  box-shadow: none;
}

.signup-box {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 7px 20px 0 rgba(0, 0, 0, 0.5);
}

.heading {
  margin-top: 3%;
}
